@{
    
}

    <!--Footer Part Start-->


        <!--Custom Column Start-->    
        <div id="footer">
        	<div class="column">
            	<h3>Informações</h3>
                <ul>
                    <li><a href="~/sobre/quemsomos">Quem somos</a></li>
                     <li><a href="~/sobre/politicaprivacidade">Política de Privacidade</a></li>
                    <li><a href="#">Termos &amp; Condições</a></li>
                </ul>
          	</div>
          	<div class="column">
            	<h3>Ajuda &amp; Suporte </h3>
            	<ul>
              		<li><a href="~/contato">Contato</a></li>
              		<li><a href="~/sobre/politicatroca">Trocas &amp; Devoluções</a></li>
              		<li><a href="~/sitemapa">Mapa do Site</a></li>
            	</ul>
          	</div>
          	<div class="column">
            	<h3>Produtos</h3>
            	<ul>
              		<li><a href="~/categoria">Todas as Categorias</a></li>
                    <li><a href="~/categoria">Produtos em Destaque</a></li>
                    <li><a href="~/categoria">Lançamentos</a></li>                    
            	</ul>
          	</div>
          	<div class="column">
            	<h3>Minha Conta</h3>
            	<ul>
              		<li><a href="~/conta/">Cadastro</a></li>
              		<li><a href="~/conta/">Histórico de Compras</a></li>              		
              		<li><a href="#">Informativo</a></li>
            	</ul>
          	</div>
      	</div>
        <!--Custom Column End--> 


	<footer id="footerWrapper" class="clear">
<!--About Store information Start-->  
    	<div id="customHome" class="container_12">
      		<!-- About Text -->
<div class="column">
<h2>Promoção Especial</h2>            	
<p><span style="font-size: 8pt;">Nas compras acima de R$ 500,00 (quinhentos reais), você ganha um lindo presente do nosso site.</span>
</p>
<p><img src="~/image/promo/Pingente-de-Menino-e-Menina.png" width="73" height="73" style="float: left;" />
</p>
<div><span style="font-size: 8pt;">&nbsp;</span>
</div>
<div><span style="font-size: 8pt;">Pingente em Ouro 18K (Menino ou Menina)</span>
</div>
          	</div>
      		
            <!--  TWITTER Twites -->      		
            <div id="twitter-twit">
        		<h2>Formas de Pagamento</h2>
        		<!-- INICIO CODIGO PAGSEGURO -->
<center>
<a href='https://pagseguro.uol.com.br' target='_blank'><img alt='Logotipos de meios de pagamento do PagSeguro' src='https://p.simg.uol.com.br/out/pagseguro/i/banners/pagamento/todos_animado_125_150.gif' title='Este site aceita pagamentos com Visa, MasterCard, Diners, American Express, Hipercard, Aura, Elo, PLENOCard, PersonalCard, BrasilCard, FORTBRASIL, Cabal, Mais!, Avista, Grandcard, Bradesco, Itaú, Banco do Brasil, Banrisul, Banco HSBC, saldo em conta PagSeguro e boleto.' border='0'></a>
</center>
<!-- FINAL CODIGO PAGSEGURO -->

      		</div>
      		
            <!-- contact Info -->
            <div id="contact_footer">
        		<h2>Informações p/ Contato</h2>
        		<ul>
         			<li> 
            			<!-- TELEPHONE -->
            			<ul id="tel" class="contact_column">
              				<li id="footer_telephone">+55 (21) 7824-0837</li>
            			</ul>
            
                        <!-- FAX  -->
                      <ul id="tel" class="contact_column">
                        	<li id="footer_fax">ID 55*23*12978</li>
                        </ul>
            
                        <!-- EMAIL -->
                        <ul id="mail" class="contact_column">
                            <li id="footer_email">contato@celiajoias.com</li>
                        </ul>
           
          			</li>
        		</ul>
      		</div>
            
     		<!-- Facebook LikeBox -->
      		<div id="facebook_footer">
        		<h2>Facebook</h2>
        		<div id="facebook" >
					<div id="fb-root"></div>

<div id="likebox-frame">
<div class="fb-like-box" data-href="https://www.facebook.com/celiajoias.loja" data-width="240" data-connections="9" data-height="200" data-show-faces="true" data-stream="false" data-header="false" data-border-color="#f9f9f9"></div>
</div>
					
				</div>
      		</div>
    	</div>  
        <!--About Store information End-->  


    	<!--About Store information Start-->  
    	<div id="customHome" class="container_12">
      		<!-- About Text -->
            <div id="about_us_footer">
        	</div>
      		
            <!--  TWITTER Twites -->      		
            <div id="twitter-twit">
        		</div>

      		</div>
      		
            <!-- contact Info -->
            <div id="contact_footer">
     
      		</div>
            
     		<!-- Facebook LikeBox -->
  
    	</div>  
        <!--About Store information End-->  
        

          
        <div class="powered-main">
        	<div id="powered"> Desenvolvido por <a href="http://rdcsoluções.com.br/" target="_blank">RDC Soluções</a>
                 
            	<div class="fr">
                    
                   @DateTime.Now.Year &copy; Célia Jóias - Todos os direitos reservados
                    
                   </div>
            	<div id="back-top" class="back-to-top"><a class="backtotop" href="javascript:void(0)" title="Back to Top"></a></div>
          	</div>
        </div>
        
  	</footer>
    <!--Footer Part End-->