@{
    


 



    
}

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Célia Jóias - Conclusão de Cadastro</title>

<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="Célia Jóias" />

<!-- CSS Part Start-->
<link href="~/image/favicon.png" rel="icon" />
<link rel="stylesheet" class="theme" type="text/css" href="~/css/stylesheet-4.css" />
<!-- CSS Part End-->


</head>
<body>

@RenderPage("~/Shared/Layout/_Top.cshtml")

<div id="wrapper">

    <!-- Header Part Start-->
 @RenderPage("~/Shared/Layout/_Header.cshtml")
  	<!-- Header Part End-->
      	
    <!--Middle Part Start--> 
  	<div id="container">
    	<!--Breadcrumb Start-->
		<div class="breadcrumb">
        	<a href="~/">Página Inicial</a> » 
            <a href="#">Sobre</a> » 
            <a href="#">Troca e Devoluções</a>              
      	</div>
        <!--Breadcrumb End-->
        
 
        <section id="mainContent">
			<div id="content">  
            	<!--Social Icons Start--> 
                <div class="social">
                    <ul>
                        <li><a class="ico-fb" onclick="window.open('http://www.facebook.com/');" title="Follow Your Store on Facebook"> &nbsp; </a> </li>
                        <li><a class="ico-twit" onclick="window.open('http://twitter.com/');" title="Follow Your Store on Twitter"> &nbsp; </a> </li>
                        <li><a class="ico-google" onclick="window.open('https://plus.google.com/');" title="Follow Your Store on Google+"> &nbsp; </a> </li>
                    </ul>
                </div>
            	<!--Social Icons End-->

<h1>Política de Troca e Devoluções</h1>
<p>Com o objetivo de atender plenamente ao cliente em nossa loja virtual, estabelecemos uma Política de Troca e Devolução de acordo com as necessidades dos clientes e com as normas civis, em especial as constantes do Código de Defesa do Consumidor. Estas condições de compra compõem as cláusulas de contratação por adesão, as quais o consumidor concede ciência e aceitação, para a realização das compras. A efetivação da compra consiste em plena concordância com as presentes regras.</p>
<p>Os produtos deverão ser encaminhados, exclusivamente, para a loja Célia Jóias – <br />Caixa Postal ().</p>
<p>Embale o(s) produto(s) em desacordo juntamente com a Nota Fiscal e os dados abaixo descritos preenchidos no verso da nota fiscal.</p>
<p>O produto será enviado para o endereço informado por e-mail e, obrigatoriamente, terá que estar acompanhado da 1ª via (guia branca) da nota fiscal, com os seguintes dados descrito no verso:</p>
<ul>
	<li>Nome completo;</li>
	<li>Endereço completo;</li>
	<li>Número do pedido;</li>
	<li>Número de Protocolo (obtido na Central de Atendimento);</li>
	<li>Nome e Código do produto a ser devolvido;</li>
	<li>Motivos pelos quais entende ser o produto defeituoso ou, no caso de ausência de defeito, os motivos de troca e/ou desistência;</li>
	<li>CPF e dados de conta bancária (nome do banco, nº do banco, nº da agência e nº da conta corrente, com dígitos), exclusivamente para o caso de ressarcimento (desistência);</li>
	<li>Assinatura do cliente.</li>
</ul>
<p>As despesas com frete serão reembolsadas somente nos casos de troca por defeito do produto, e se todas as condições desta Política de Troca, cumulativamente, forem cumpridas. Não serão ressarcidos os custos de frete decorrentes de troca por insatisfação.</p>
<p>Todas as ocorrências que envolvam troca ou devolução devem ser comunicadas à nossa Central de Atendimento ao cliente. Produto devolvido sem o procedimento acima descrito será reenviado ao cliente pela empresa.<br /><br />Troca por Defeito do Produto<br /><br />Em no máximo 30 (trinta) dias, contados a partir do recebimento do produto ou do aparecimento do defeito, devendo obrigatoriamente ser respeitadas as seguintes condições:</p>
<ul>
	<li>Envios de peças para trocas e ou devoluções deverão ser feitos pelo correio via PAC, fretes por Sedex a cobrar não serão recebidos pela Camila Klein Online;</li>
	<li>Quando o defeito for aparente, produtos devolvidos deverão estar sem nenhuma intervenção que implique em depreciação da peça, acompanhados da nota fiscal, etiquetas, tag’s, todos os acessórios e na embalagem original;</li>
	<li>A mercadoria será analisada e em no máximo 30 (trinta) dias será apresentada ao consumidor a solução.</li>
</ul>
<p>O prazo acima descrito, poderá ser prorrogado por mais 7 (sete) a 90 (noventa) dias, com a aprovação do cliente.<br /><br />Troca por Insatisfação ou Desistência<br /><br />Em no máximo 7 (sete) dias, contados a partir do recebimento da mercadoria, devendo obrigatoriamente o produto não apresentar sinais de uso, e estar em perfeitas condições, com a etiqueta afixada.</p>
<p>Este tipo de troca somente para venda pelo canal Online.<br /><br />Restituição de Valores<br /><br />A restituição dos valores ou a troca dos produtos com defeito somente será processada após o recebimento e análise das condições do(s) mesmo(s) pelo setor de Controle de Qualidade.</p>
<p>O consumidor irá efetivar os procedimentos de devolução, acrescentando às informações solicitadas os dados pessoais e de conta corrente, para restituição da importância paga, para a hipótese de não ser possível o estorno de pagamento em cartão de crédito.</p>
<p>O estorno de valores de compra que necessitem ser efetuados via depósito terão o prazo de até 7 (sete) dias úteis para serem realizados pela Camila Klein Online.Se o estorno não puder ser feito, inclusive por força da venda por outro modo de pagamento, o valor da compra será creditado em conta bancária do consumidor, conforme informado na documentação de devolução. Não serão efetivados ressarcimento em conta bancária de terceiros.</p>
<p>Devolução do Produto ao Cliente<br /><br />O produto será devolvido para o Cliente sem direito de substituição ou indenização quando houver os seguintes itens de reprovação:</p>
<ul>
	<li>Ausência de defeito (não constatação do dano apontado pelo cliente);</li>
	<li>Indícios de uso inadequado do produto;</li>
	<li>Indícios de dano acidental ou provocado;</li>
	<li>Desgaste natural em decorrência do uso;</li>
	<li>Produto adquirido em promoção.</li>
</ul>
<p>Se o produto não estiver de acordo com as condições descritas nesta Política de Troca, a empresa imediatamente devolverá o produto, sem prévio aviso, sendo o consumidor o único responsável pelo frete dos Correios.</p>
<p>No momento do recebimento do produto para analise de troca, a Célia Jóias confirmará a chegada, enviando por e-mail as condições do produto, no prazo máximo de 3 (três) dias úteis.<br /><br />Disponibilidade do Produto<br /><br />Se o produto para o qual for autorizada a troca não estiver disponível em nossos estoques, o cliente terá as seguintes opções a seu critério:</p>
<ul>
	<li>Outro produto semelhante e com igual valor e a restituição do frete;</li>
	<li>A restituição total do valor pago, inclusive o frete.</li>
</ul>
<p>Precauções</p>
<ul>
	<li>Toda mercadoria deve ser conferida no ato da entrega;</li>
	<li>Recuse produtos em embalagens abertas ou produtos avariados;</li>
	<li>Todo cancelamento, com devolução do valor pago ao cliente, deverá ser solicitado pelo nosso Serviço de Atendimento ao Cliente</li>
</ul>
  				
    		</div>
  		</section>
          
	</div>
  	<!--Middle Part End--> 
    
  	<!--Footer Part Start-->
	 @RenderPage("~/Shared/Layout/_Footer.cshtml")
    <!--Footer Part End-->
  	
</div>

<!-- JS Part Start-->
<script type="text/javascript" src="~/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="~/js/html5.js"></script>
<script type="text/javascript" src="~/js/custom.js"></script>
<!-- JS Part End-->

</body>
</html>