@{
    
}

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Célia Jóias</title>

<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="Célia Jóias" />

<!-- CSS Part Start-->
<link href="image/favicon.png" rel="icon" />
<link rel="stylesheet" class="theme" type="text/css" href="css/stylesheet.css" />
<link rel="stylesheet" type="text/css" href="css/flexslider.css" />
<link rel="stylesheet" type="text/css" href="css/slideshow.html" />
<link rel="stylesheet" type="text/css" href="css/carousel.css" />
<!-- CSS Part End-->


</head>
<body>

<!-- Color Option Part Start-->
<div class="clbox"> 
	<a class="toggle">Toggle</a>
  	<h2>Color</h2>
  	<ul id="changer">
    	<li><a href="#" class="col-1" rel="css/stylesheet.css">&nbsp;</a></li>
    	<li><a href="#" class="col-2" rel="css/stylesheet-1.css">&nbsp;</a></li>
        <li><a href="#" class="col-3" rel="css/stylesheet-2.css">&nbsp;</a></li>
        <li><a href="#" class="col-4" rel="css/stylesheet-3.css">&nbsp;</a></li>
        <li><a href="#" class="col-5" rel="css/stylesheet-4.css">&nbsp;</a></li>
  	</ul>
  	<h2>Patterns</h2>
  	<ul class="patterns">
        <li><a href="pattern-1.html"><img alt="" src="image/pattern/pattern-1.png"></a></li>
        <li><a href="pattern-2.html"><img alt="" src="image/pattern/pattern-2.png"></a></li>
        <li><a href="pattern-3.html"><img alt="" src="image/pattern/pattern-3.png"></a></li>
        <li><a href="pattern-4.html"><img alt="" src="image/pattern/pattern-4.png"></a></li>
        <li><a href="pattern-5.html"><img alt="" src="image/pattern/pattern-5.png"></a></li>
        <li><a href="pattern-6.html"><img alt="" src="image/pattern/pattern-6.png"></a></li>
        <li><a href="pattern-7.html"><img alt="" src="image/pattern/pattern-7.png"></a></li>
        <li><a href="pattern-8.html"><img alt="" src="image/pattern/pattern-8.png"></a></li>
        <li><a href="pattern-9.html"><img alt="" src="image/pattern/pattern-9.png"></a></li>
        <li><a href="pattern-10.html"><img alt="" src="image/pattern/pattern-10.png"></a></li>
        <li><a href="pattern-11.html"><img alt="" src="image/pattern/pattern-11.png"></a></li>
        <li><a href="pattern-12.html"><img alt="" src="image/pattern/pattern-12.png"></a></li>
        <li><a href="pattern-13.html"><img alt="" src="image/pattern/pattern-13.png"></a></li>
        <li><a href="pattern-14.html"><img alt="" src="image/pattern/pattern-14.png"></a></li>
        <li><a href="pattern-15.html"><img alt="" src="image/pattern/pattern-15.png"></a></li>
  	</ul>
</div>
<!-- Color Option Part End-->

<!-- Top Part Start-->
<div class="top-links">
	<div class="links"> 
  		<a href="~/">Home</a>|
    	<a href="wishlist.html">Wish List (0)</a>|
    	<a href="#">My Account</a>|
    	<a href="cart.html">Shopping Cart</a>|
    	<a href="checkout.html">Checkout</a> 
	</div>
  	<div class="currency">
    	<div id="language"> 
      		<span>Language</span>
        	<ul>
          		<li><a title="English"><img src="image/flags/gb.png" alt="English" /> English </a></li>
        	</ul>
      	</div>
        <div id="currency"> 
            <span>Currency <i class="icon-angle-down"></i></span>
            <ul>
                <li><a title="Euro">€ - Euro</a> </li>
                <li><a title="Pound Sterling">£ - Pound Sterling</a></li>
                <li><a title="US Dollar"><b>$ - US Dollar</b></a></li>
            </ul>
        </div>
  	</div>
</div>
<!-- Top Part End-->

<div id="wrapper">
    
    <!-- Header Part Start-->
	<header id="headerWrapper">
        <div id="header">
            <div id="logo">
                <a href="~/"><img src="image/logo.png" title="Your Store" alt="Your Store" /></a>
            </div>
            <!-- Mini Cart Start-->
            <div id="cart">
                <div class="heading"><a><span id="cart-total">3 item(s) - $315.93</span></a></div>
                <div class="content">
                    <span class="topArrow">&nbsp;</span>
                    <div class="mini-cart-info">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                            <td class="image">            
                                <a href="product.html"><img title="Bracelet" alt="Bracelet" src="image/product/09-bracelet-60x60.jpg"></a>
                            </td>
                            <td class="name"><a href="product.html">Bracelet</a></td>
                            <td class="quantity">x&nbsp;1</td>
                            <td class="total">£79.90</td>
                            <td class="remove"><img title="Remove" alt="Remove" src="image/remove-small.png"></td>
                            </tr>
                            <tr>
                            <td class="image">
                                <a href="product.html"><img title="Necklace" alt="Necklace" src="image/product/05-necklace-60x60.jpg"></a>
                            </td>
                            <td class="name"><a href="product.html">Necklace</a></td>
                            <td class="quantity">x&nbsp;1</td>
                            <td class="total">£156.91</td>
                            <td class="remove"><img title="Remove" alt="Remove" src="image/remove-small.png"></td>
                            </tr>
                            <tr>
                            <td class="image">
                                <a href="product.html"><img title="Silver Rings" alt="Silver Rings" src="image/product/02-wedding-ring-60x60.jpg"></a>
                            </td>
                            <td class="name"><a href="product.html">Silver Rings</a></td>
                            <td class="quantity">x&nbsp;1</td>
                            <td class="total">£79.12</td>
                            <td class="remove"><img title="Remove" alt="Remove" src="image/remove-small.png"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="mini-cart-total">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="right"><b>Sub-Total:</b></td>
                                <td class="right">£265.50</td>
                            </tr>
                            <tr>
                                <td class="right"><b>Eco Tax (-2.00):</b></td>
                                <td class="right">£3.97</td>
                            </tr>
                            <tr>
                                <td class="right"><b>VAT (17.5%):</b></td>
                                <td class="right">£46.46</td>
                            </tr>
                            <tr>
                                <td class="right"><b>Total:</b></td>
                                <td class="right">£315.93</td>
                            </tr>
                        </table>
                    </div>
                    <div class="checkout"><a href="cart.html" class="btn"><span>View Cart</span></a> &nbsp; <a href="checkout.html" class="btn"><span>Checkout</span></a></div>
                </div>
            </div>
            <!-- Mini Cart End-->
            <div id="welcome"> Welcome visitor you can <a href="login.html">login</a> or <a href="register.html">create an account</a>. </div>
            <div id="search">
                <div class="button-search"></div>
                <input type="text" name="search" id="filter_name" placeholder="Search" value="" />
            </div>
         </div> 
        <!-- Main Navigation Start-->           
        <nav id="nav">
            <div id="menu">
                <h3 class="menuarrow"><span>Menu</span></h3>
                <ul>
                    <li><a href="category.html">Chain</a>
                        <div>
                            <ul>
                                <li><a href="category.html">PC (0)</a></li>
                                <li><a href="category.html">Mac (1)</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="category.html">Diamond Rings</a>
                        <div>
                            <ul>
                                <li><a href="category.html">Macs (0)</a></li>
                                <li><a href="category.html">Windows (0)</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="category.html">Bangles</a>
                        <div>
                            <ul>
                                <li><a href="category.html">Mice and Trackballs (0)</a></li>
                                <li><a href="category.html">Monitors (1)</a></li>
                                <li><a href="category.html">Printers (0)</a></li>
                                <li><a href="category.html">Scanners (0)</a></li>
                                <li><a href="category.html">Web Cameras (0)</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="category.html">Silver Rings</a></li>
                    <li><a href="category.html">Set</a></li>
                    <li><a href="category.html">Pendant</a> </li>
                    <li><a href="category.html">Bracelet</a> </li>
                    <li><a href="category.html">Earrings</a>
                        <div>
                            <ul>
                                <li><a href="category.html">test 11 (0)</a></li>
                                <li><a href="category.html">test 12 (0)</a></li>
                                <li><a href="category.html">test 15 (0)</a></li>
                                <li><a href="category.html">test 16 (0)</a></li>
                            </ul>
                            <ul>
                                <li><a href="category.html">test 17 (0)</a></li>
                                <li><a href="category.html">test 18 (0)</a></li>
                                <li><a href="category.html">test 19 (0)</a></li>
                                <li><a href="category.html">test 4 (0)</a></li>
                            </ul>                      			
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Main Navigation End-->
    </header>
  	<!-- Header Part End-->
    
  	<!--Breadcrumb Start-->
    <div class="breadcrumb">
        <a href="~/">Home</a> » 
        <a href="#">Chain</a>
    </div>
    <!--Breadcrumb End-->
    
    <!--Middle Part Start-->
  	<section id="contentWrapper">
		<div id="container">        
        	<!--Left Part Start-->
        	<aside id="column-left">                 
                <!--Accordian Start-->           
                <div class="box">
                    <div class="box-heading">Categories</div>
                    <div class="box-content">
                        <div class="box-category">
                            <ul id="camaccordion">
                                <li class="cid20 dcjq-parent-li"><a href="#">Chain<span class="dcjq-icon"></span></a>
                                    <ul>
                                        <li class="cid26"><a href="#" class="nochild">PC</a></li>
                                        <li class="cid27"><a href="#" class="nochild">Mac</a></li>
                                    </ul>
                                </li>
                                <li class="cid18 dcjq-parent-li"><a href="#" class="havechild  dcjq-parent">Diamond Rings<span class="dcjq-icon"></span></a>
                                    <ul>
                                        <li class="cid46"><a href="#" class="nochild">Macs</a></li>
                                        <li class="cid45"><a href="#" class="nochild">Windows</a></li>
                                    </ul>
                                </li>
                                <li class="cid25 dcjq-parent-li"><a href="#" class="havechild  dcjq-parent">Bangles<span class="dcjq-icon"></span></a>
                                <ul>
                                    <li class="cid29"><a href="#" class="nochild">Mice and Trackballs</a></li>
                                    <li class="cid28 dcjq-parent-li"><a href="#" class="havechild  dcjq-parent">Monitors<span class="dcjq-icon"></span></a>
                                        <ul style="display: none;">
                                            <li class="cid35"><a href="#" class="nochild">test 1</a></li>
                                            <li class="cid36"><a href="#" class="nochild">test 2</a></li>
                                        </ul>
                                    </li>
                                    <li class="cid30"><a href="#" class="nochild">Printers</a></li>
                                  <li class="cid31"><a href="#" class="nochild">Scanners</a></li>
                                  <li class="cid32"><a href="#" class="nochild">Web Cameras</a></li>
                                </ul>
                            </li>
                            <li class="cid57"><a href="#" class="nochild">Silver Rings</a></li>
                            <li class="cid17"><a href="#" class="nochild">Set</a></li>
                            <li class="cid24"><a href="#" class="nochild">Pendant</a></li>
                            <li class="cid33"><a href="#" class="nochild">Bracelet</a></li>
                            <li class="cid34 dcjq-parent-li"><a href="#" class="havechild  dcjq-parent">Earrings<span class="dcjq-icon"></span></a>
                                <ul>
                                    <li class="cid43"><a href="#" class="nochild">test 11</a></li>
                                    <li class="cid44"><a href="#" class="nochild">test 12</a></li>
                                    <li class="cid47"><a href="#" class="nochild">test 15</a></li>
                                    <li class="cid48"><a href="#" class="nochild">test 16</a></li>
                                    <li class="cid49"><a href="#" class="nochild">test 17</a></li>
                                    <li class="cid50"><a href="#" class="nochild">test 18</a></li>
                                    <li class="cid51"><a href="#" class="nochild">test 19</a></li>
                                    <li class="cid38"><a href="#" class="nochild">test 4</a></li>
                                    <li class="cid37"><a href="#" class="nochild">test 5</a></li>
                                    <li class="cid39"><a href="#" class="nochild">test 6</a></li>
                                    <li class="cid40"><a href="#" class="nochild">test 7</a></li>
                                    <li class="cid41"><a href="#" class="nochild">test 8</a></li>
                                    <li class="cid42"><a href="#" class="nochild">test 9</a></li>
                                </ul>
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>  
            	<!--Accordian Start-->
                
                <!--Featured Product Start-->
                <div class="box mb0">
                    <div class="box-heading-1"><span>Featured</span></div>
                    <div class="box-content-1">
                        <div class="box-product-1">
                            <div>
                                <div class="image">
                                    <a href="product.html"><img alt="Necklace" src="image/product/05-necklace-60x60.jpg"></a>
                                </div>
                                <div class="proName">
                                    <div class="name"><a href="product.html">Necklace</a></div>
                                    <div class="price">$390.31 </div>
                                </div>
                            </div>
                            
                            <div>
                                <div class="image"><a href="product.html"><img alt="Bracelet" src="image/product/09-bracelet-60x60.jpg"></a></div>
                                <div class="proName">
                                    <div class="name"><a href="product.html">Bracelet</a></div>
                                    <div class="price">$79.90</div>            
                                </div>
                            </div>
                            
                            <div>
                                <div class="image">
                                    <a href="product.html"><img alt="Silver Rings" src="image/product/02-wedding-ring-60x60.jpg"></a>
                                </div>
                                <div class="proName">
                                    <div class="name"><a href="product.html">Silver Rings</a></div>
                                    <div class="price"><span class="price-new">$71.34</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Featured Product end-->
                
                <!--Special Offer Start-->
                <div class="banner" id="banner0">
                    <div style="display:block;"><a href="#"><img title="Special Offer" alt="Special Offer" src="image/small-banner-175x175.jpg"></a></div>
              	</div>
                <!--Special Offer End-->
            </aside>
            <!--Left Part End-->
            
            <section id="mainContent">
                <div id="content">
                    
                    <!--Social Icons Start--> 
                    <div class="social">
                        <ul>
                            <li><a class="ico-fb" onclick="window.open('http://www.facebook.com/');" title="Follow Your Store on Facebook"> &nbsp; </a></li>
                            <li><a class="ico-twit" onclick="window.open('http://twitter.com/');" title="Follow Your Store on Twitter"> &nbsp; </a></li>
                            <li><a class="ico-google" onclick="window.open('https://plus.google.com/');" title="Follow Your Store on Google+"> &nbsp; </a></li>
                        </ul>
                    </div>
                    <!--Social Icons End-->
                    
                    <h1>Chain</h1>      
                    
                    <div class="category-info">
                        <div class="image"><img alt="Chain" title="Chain" src="image/product/03-chain-100x100.jpg"></div>
                        <p>Example of category description text</p>
                    </div>
                    
                    <!--Product Filter Start-->
                    <div class="product-filter">
                        <div class="display"><b>Display:</b> <span class="list">List</span> <a href="category.html" class="gridSelect">Grid</a></div>
                        <div class="limit"><b>Show:</b>
                            <select onchange="">
                                <option selected="selected" value="">15</option>
                                <option value="">25</option>
                                <option value="">50</option>
                                <option value="">75</option>
                                <option value="">100</option>
                            </select>
                        </div>
                        <div class="sort"><b>Sort By:</b>
                            <select onchange="">
                                <option selected="selected" value="">Default</option>
                                <option value="">Name (A - Z)</option>
                                <option value="">Name (Z - A)</option>
                                <option value="">Price (Low &gt; High)</option>
                                <option value="">Price (High &gt; Low)</option>
                                <option value="">Rating (Highest)</option>
                                <option value="">Rating (Lowest)</option>
                                <option value="">Model (A - Z)</option>
                                <option value="">Model (Z - A)</option>
                            </select>
                        </div>
                    </div>
                    <!--Product Filter End-->
                    
                    <!--Product List Start-->
                    <div class="product-list">
                        <div>
                            <div class="right">
                                <div class="price">$79.12 <br>
                                    <span class="price-tax">Ex Tax: $66.21</span> 
                                </div>
                                <div class="cart">
                                    <label class="btn">
                                        <input type="button" class="button" onClick="" value="Add to Cart">
                                    </label>
                                </div>
                                <div class="wishlist"><a href="#">Add to Wish List</a></div>
                                <div class="compare"><a href="#">Add to Compare</a></div>
                            </div>
                            <div class="left">
                                <div class="image">
                                	<a href="product.html"><img alt="Bracelet" title="Bracelet" src="image/product/11-bracelet-100x100.jpg"></a>
                                </div>
                                <div class="name"><a href="product.html">Bracelet</a></div>
                                <div class="description">Stop your co-workers in their tracks with the stunning new 30-inch diagonal HP LP3065 Flat Panel Mon..</div>
                            </div>
                        </div>
                    
                        <div>
                            <div class="right">
                                <div class="price">$79.90 <br>
                                    <span class="price-tax">Ex Tax: $66.87</span> 
                                </div>
                                <div class="cart">
                                    <label class="btn">
                                        <input type="button" class="button" onClick="" value="Add to Cart">
                                    </label>
                                </div>
                                <div class="wishlist"><a href="#">Add to Wish List</a></div>
                                <div class="compare"><a href="#">Add to Compare</a></div>
                            </div>
                            <div class="left">
                                <div class="image">
                                	<a href="product.html"><img alt="Bracelet" title="Bracelet" src="image/product/09-bracelet-100x100.jpg"></a>
                                </div>
                                <div class="name"><a href="product.html">Bracelet</a></div>
                                <div class="description">iPhone is a revolutionary new mobile phone that allows you to make a call by simply tapping a name o..</div>
                            </div>
                        </div>
                        
                        <div>
                            <div class="right">
                                <div class="price"><span class="price-old">$79.12</span> <span class="price-new">$63.56</span> 
                                    <span class="price-tax">Ex Tax: $52.97</span> 
                                </div>
                                <div class="cart">
                                    <label class="btn">
                                        <input type="button" class="button" onClick="" value="Add to Cart">
                                    </label>
                                </div>
                                <div class="wishlist"><a href="#">Add to Wish List</a></div>
                                <div class="compare"><a href="#">Add to Compare</a></div>
                            </div>
                            <div class="left">
                                <div class="image"><a href="product.html"><img alt="Chain" title="Chain" src="image/product/03-chain-100x100.jpg"></a></div>
                                <div class="name"><a href="product.html">Chain</a></div>
                                <div class="description">Canon's press material for the EOS 5D states that it 'defines (a) new D-SLR category', while we're n..</div>
                            </div>
                        </div>
                        <div>
                            <div class="right">
                                <div class="price">$779.29 <br>
                                    <span class="price-tax">Ex Tax: $662.10</span> 
                                </div>
                                <div class="cart">
                                    <label class="btn">
                                      <input type="button" class="button" onClick="" value="Add to Cart">
                                    </label>
                                </div>
                                <div class="wishlist"><a href="#">Add to Wish List</a></div>
                                <div class="compare"><a href="#">Add to Compare</a></div>
                            </div>
                            <div class="left">
                                <div class="image">
                                	<a href="product.html"><img alt="Diamond Rings" title="Diamond Rings" src="image/product/04-ring-100x100.jpg"></a>
                                </div>
                                <div class="name"><a href="product.html">Diamond Rings</a></div>
                                <div class="description">MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don't lose inches a..</div>
                            </div>
                        </div>
                        <div>
                            <div class="right">
                                <div class="price">$219.15 <br>
                                    <span class="price-tax">Ex Tax: $185.38</span> 
                                </div>
                                <div class="cart">
                                    <label class="btn">
                                        <input type="button" class="button" onClick="" value="Add to Cart">
                                    </label>
                                </div>
                                <div class="wishlist"><a href="#">Add to Wish List</a></div>
                                <div class="compare"><a href="#">Add to Compare</a></div>
                            </div>
                            <div class="left">
                                <div class="image"><a href="product.html"><img alt="Diamond Set" title="Diamond Set" src="image/product/03-set-100x100.jpg"></a></div>
                                <div class="name"><a href="product.html">Diamond Set</a></div>
                                <div class="description">Redefine your workday with the Palm Treo Pro smartphone. Perfectly balanced, you can respond to busi..</div>
                            </div>
                        </div>
                        <div>
                            <div class="right">
                                <div class="price">$79.12 <br>
                                    <span class="price-tax">Ex Tax: $66.21</span> 
                                </div>
                                <div class="cart">
                                    <label class="btn">
                                        <input type="button" class="button" onClick="" value="Add to Cart">
                                    </label>
                                </div>
                                <div class="wishlist"><a href="#">Add to Wish List</a></div>
                                <div class="compare"><a href="#">Add to Compare</a></div>
                            </div>
                            <div class="left">
                                <div class="image"><a href="product.html"><img alt="Earrings" title="Earrings" src="image/product/11-earrings-100x100.jpg"></a></div>
                                <div class="name"><a href="product.html">Earrings</a></div>
                                <div class="description">HTC Touch - in High Definition. Watch music videos and streaming content in awe-inspiring high defin..</div>
                            </div>
                        </div>
                        <div>
                            <div class="right">
                                <div class="price">$79.12 <br>
                                    <span class="price-tax">Ex Tax: $66.21</span> 
                                </div>
                                <div class="cart">
                                    <label class="btn">
                                        <input type="button" class="button" onClick="" value="Add to Cart">
                                    </label>
                                </div>
                                <div class="wishlist"><a href="#">Add to Wish List</a></div>
                                <div class="compare"><a href="#">Add to Compare</a></div>
                            </div>
                            <div class="left">
                                <div class="image"><a href="product.html"><img alt="Earrings" title="Earrings" src="image/product/05-earrings-100x100.jpg"></a></div>
                                <div class="name"><a href="product.html">Earrings</a></div>
                                <div class="description"> More room to move. With 80GB or 160GB of storage and up to 40 hours of battery life, the new ..</div>
                            </div>
                        </div>
                        <div>
                            <div class="right">
                                <div class="price"> <span class="price-old">$79.12</span> <span class="price-new">$71.34</span>
                                    <span class="price-tax">Ex Tax: $59.59</span> 
                                </div>
                                <div class="cart">
                                    <label class="btn">
                                        <input type="button" class="button" onClick="" value="Add to Cart">
                                    </label>
                                </div>
                                <div class="wishlist"><a href="#">Add to Wish List</a></div>
                                <div class="compare"><a href="#">Add to Compare</a></div>
                            </div>
                            <div class="left">
                                <div class="image">
                                	<a href="product.html"><img alt="Mangalsutra" title="Mangalsutra" src="image/product/03-mangalsutra-100x100.jpg"></a>
                                </div>
                                <div class="name"><a href="product.html">Mangalsutra</a></div>
                                <div class="description">The 30-inch Apple Cinema HD Display delivers an amazing 2560 x 1600 pixel resolution. Designed speci..</div>
                            </div>
                        </div>
                      
                    </div>
                    <!--Product List Start-->
                    
                    <!--Pagination Start-->
                    <div class="pagination">
                        <div class="results">Showing 1 to 10 of 10 (1 Pages)</div>
                    </div>
                    <!--Pagination End-->
                    
                </div>
  			</section>
                        
        </div>
    </section>        
  	<!--Middle Part End-->
  
  	<!--Footer Part Start-->
	 @RenderPage("~/Shared/Layout/_Footer.cshtml")
    <!--Footer Part End-->
</div>

<!-- JS Part Start-->
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="js/html5.js"></script>
<script type="text/javascript" src="js/jquery.dcjqaccordion.2.9.js"></script> 
<script type="text/javascript" src="js/custom.js"></script>
<!-- JS Part End-->

</body>
</html>