@{

}

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Célia Jóias - Manutenção</title>

<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="Célia Jóias" />

<!-- CSS Part Start-->
<link href="image/favicon.png" rel="icon" />
<link rel="stylesheet" class="theme" type="text/css" href="~/css/stylesheet-4.css" />
<!-- CSS Part End-->

</head>
<body>


<!-- Top Part Start-->
<div class="top-links">
	
</div>
<!-- Top Part End-->

<div id="wrapper">
	
    <!-- Header Part Start-->
	<header id="headerWrapper">
        <div id="header">
            <div id="logo">
                <a href="~/"><img src="image/logo.png" title="Célia Jóias" alt="Célia Jóias" /></a>
            </div>
            <!-- Mini Cart Start-->
            
            <!-- Mini Cart End-->
            
         </div> 
        <!-- Main Navigation Start-->           
        <nav id="nav">
            <div id="menu">
                <h3 class="menuarrow"><span>Menu</span></h3>
                <ul>
 
                </ul>
            </div>
        </nav>
        <!-- Main Navigation End-->
    </header>
  	<!-- Header Part End-->
    
    <!--Middle Part Start-->  
  	<div id="container">
    
    	<!--Breadcrumb Start-->
		<div class="breadcrumb">
        	<a href="#">Página Inicial</a> » 
            <a href="#">Manunteção</a>
      	</div>
 		<!--Breadcrumb End-->
        
        <!--Content Start-->
        <section id="mainContent">
			<div id="content">
				<!--Social Icons Start--> 

            	<!--Social Icons End--> 
                
  				<h1>Site em Manutenção</h1>
                <p>No momento nosso site está em manutenção.
        </p>
        <p></p>        
  			</div>
  		</section>  
        <!--Content End-->
        
	</div>
    <!--Middle Part End-->  
  
  	<!--Footer Part Start-->
	<footer id="footerWrapper" class="clear">
   
          
        <div class="powered-main">
        	<div id="powered"> Desenvolvido por <a href="http://rdcsoluções.com.br/" target="_blank">RDC Soluções</a>
            	<div class="fr">@DateTime.Now.Year &copy; Célia Jóias - Todos os direitos reservados </div>
            	<div id="back-top" class="back-to-top"><a class="backtotop" href="javascript:void(0)" title="Back to Top"></a></div>
          	</div>
        </div>
        
  	</footer>
    <!--Footer Part End-->
</div>

<!-- JS Part Start-->
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="js/html5.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<!-- JS Part End-->

</body>
</html>