@{
    
}

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Jewellery Online Store</title>

<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="Jewellery Online Store" />

<!-- CSS Part Start-->
<link href="image/favicon.png" rel="icon" />
<link rel="stylesheet" class="theme" type="text/css" href="css/stylesheet.css" />
<link rel="stylesheet" type="text/css" href="css/flexslider.css" />
<link rel="stylesheet" type="text/css" href="css/carousel.css" />

<!-- CSS Part End-->

<link rel="stylesheet" type="text/css" href="css/skin.css" media="all" />
<link rel="stylesheet" type="text/css" href="css/cloud-zoom.css" media="all" />
<link rel="stylesheet" type="text/css" href="css/light_box.css" media="all" />
<link rel="stylesheet" type="text/css" href="css/mix.css" media="all" />
<link rel="stylesheet" type="text/css" href="css/banner.css" media="all" />
<link rel="stylesheet" type="text/css" href="css/magicat.css" media="all" />









</head>
<body>

<!-- Color Option Part Start-->
<div class="clbox"> 
	<a class="toggle">Toggle</a>
  	<h2>Color</h2>
  	<ul id="changer">
    	<li><a href="#" class="col-1" rel="css/stylesheet.css">&nbsp;</a></li>
    	<li><a href="#" class="col-2" rel="css/stylesheet-1.css">&nbsp;</a></li>
    	<li><a href="#" class="col-3" rel="css/stylesheet-2.css">&nbsp;</a></li>
    	<li><a href="#" class="col-4" rel="css/stylesheet-3.css">&nbsp;</a></li>
    	<li><a href="#" class="col-5" rel="css/stylesheet-4.css">&nbsp;</a></li>
  	</ul>
  	<h2>Patterns</h2>
  	<ul class="patterns">
        <li><a href="pattern-1.html"><img alt="" src="image/pattern/pattern-1.png"></a></li>
        <li><a href="pattern-2.html"><img alt="" src="image/pattern/pattern-2.png"></a></li>
        <li><a href="pattern-3.html"><img alt="" src="image/pattern/pattern-3.png"></a></li>
        <li><a href="pattern-4.html"><img alt="" src="image/pattern/pattern-4.png"></a></li>
        <li><a href="pattern-5.html"><img alt="" src="image/pattern/pattern-5.png"></a></li>
        <li><a href="pattern-6.html"><img alt="" src="image/pattern/pattern-6.png"></a></li>
        <li><a href="pattern-7.html"><img alt="" src="image/pattern/pattern-7.png"></a></li>
        <li><a href="pattern-8.html"><img alt="" src="image/pattern/pattern-8.png"></a></li>
        <li><a href="pattern-9.html"><img alt="" src="image/pattern/pattern-9.png"></a></li>
        <li><a href="pattern-10.html"><img alt="" src="image/pattern/pattern-10.png"></a></li>
        <li><a href="pattern-11.html"><img alt="" src="image/pattern/pattern-11.png"></a></li>
        <li><a href="pattern-12.html"><img alt="" src="image/pattern/pattern-12.png"></a></li>
        <li><a href="pattern-13.html"><img alt="" src="image/pattern/pattern-13.png"></a></li>
        <li><a href="pattern-14.html"><img alt="" src="image/pattern/pattern-14.png"></a></li>
        <li><a href="pattern-15.html"><img alt="" src="image/pattern/pattern-15.png"></a></li>
  	</ul>
</div>
<!-- Color Option Part End-->

<!-- Top Part Start-->
<div class="top-links">
	<div class="links"> 
  		<a href="~/">Home</a>|
    	<a href="wishlist.html">Wish List (0)</a>|
    	<a href="#">My Account</a>|
    	<a href="cart.html">Shopping Cart</a>|
    	<a href="checkout.html">Checkout</a> 
	</div>
  	<div class="currency">
    	<div id="language"> 
      		<span>Language</span>
        	<ul>
          		<li><a title="English"><img src="image/flags/gb.png" alt="English" /> English </a></li>
        	</ul>
      	</div>
        <div id="currency"> 
            <span>Currency <i class="icon-angle-down"></i></span>
            <ul>
                <li><a title="Euro">€ - Euro</a> </li>
                <li><a title="Pound Sterling">£ - Pound Sterling</a></li>
                <li><a title="US Dollar"><b>$ - US Dollar</b></a></li>
            </ul>
        </div>
  	</div>
</div>
<!-- Top Part End-->

<div id="wrapper">

	<!-- Header Part Start-->
    <header id="headerWrapper">
        <div id="header">
        	<div id="logo">
          		<a href="~/"><img src="image/logo.png" title="Your Store" alt="Your Store" /></a>
           	</div>
            <!-- Mini Cart Start-->
            <div id="cart">
                <div class="heading"><a><span id="cart-total">3 item(s) - $315.93</span></a></div>
                <div class="content">
                    <span class="topArrow">&nbsp;</span>
                    <div class="mini-cart-info">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                            <td class="image">            
                                <a href="product.html"><img title="Bracelet" alt="Bracelet" src="image/product/09-bracelet-60x60.jpg"></a>
                            </td>
                            <td class="name"><a href="product.html">Bracelet</a></td>
                            <td class="quantity">x&nbsp;1</td>
                            <td class="total">£79.90</td>
                            <td class="remove"><img title="Remove" alt="Remove" src="image/remove-small.png"></td>
                            </tr>
                            <tr>
                            <td class="image">
                                <a href="product.html"><img title="Necklace" alt="Necklace" src="image/product/05-necklace-60x60.jpg"></a>
                            </td>
                            <td class="name"><a href="product.html">Necklace</a></td>
                            <td class="quantity">x&nbsp;1</td>
                            <td class="total">£156.91</td>
                            <td class="remove"><img title="Remove" alt="Remove" src="image/remove-small.png"></td>
                            </tr>
                            <tr>
                            <td class="image">
                                <a href="product.html"><img title="Silver Rings" alt="Silver Rings" src="image/product/02-wedding-ring-60x60.jpg"></a>
                            </td>
                            <td class="name"><a href="product.html">Silver Rings</a></td>
                            <td class="quantity">x&nbsp;1</td>
                            <td class="total">£79.12</td>
                            <td class="remove"><img title="Remove" alt="Remove" src="image/remove-small.png"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="mini-cart-total">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="right"><b>Sub-Total:</b></td>
                                <td class="right">£265.50</td>
                            </tr>
                            <tr>
                                <td class="right"><b>Eco Tax (-2.00):</b></td>
                                <td class="right">£3.97</td>
                            </tr>
                            <tr>
                                <td class="right"><b>VAT (17.5%):</b></td>
                                <td class="right">£46.46</td>
                            </tr>
                            <tr>
                                <td class="right"><b>Total:</b></td>
                                <td class="right">£315.93</td>
                            </tr>
                        </table>
                    </div>
                    <div class="checkout"><a href="cart.html" class="btn"><span>View Cart</span></a> &nbsp; <a href="checkout.html" class="btn"><span>Checkout</span></a></div>
                </div>
            </div>
            <!-- Mini Cart End-->
          	<div id="welcome"> Welcome visitor you can <a href="login.html">login</a> or <a href="register.html">create an account</a>. </div>
            <div id="search">
            	<div class="button-search"></div>
                <input type="text" name="search" id="filter_name" placeholder="Search" value="" />
           	</div>
     	</div>
        <!-- Main Navigation Start-->            
        <nav id="nav">
            <div id="menu">
                <h3 class="menuarrow"><span>Menu</span></h3>
                <ul>
                    <li><a href="category.html">Chain</a>
                        <div>
                            <ul>
                                <li><a href="category.html">PC (0)</a></li>
                                <li><a href="category.html">Mac (1)</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="category.html">Diamond Rings</a>
                        <div>
                            <ul>
                                <li><a href="category.html">Macs (0)</a></li>
                                <li><a href="category.html">Windows (0)</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="category.html">Bangles</a>
                        <div>
                            <ul>
                                <li><a href="category.html">Mice and Trackballs (0)</a></li>
                                <li><a href="category.html">Monitors (1)</a></li>
                                <li><a href="category.html">Printers (0)</a></li>
                                <li><a href="category.html">Scanners (0)</a></li>
                                <li><a href="category.html">Web Cameras (0)</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="category.html">Silver Rings</a></li>
                    <li><a href="category.html">Set</a></li>
                    <li><a href="category.html">Pendant</a> </li>
                    <li><a href="category.html">Bracelet</a> </li>
                    <li><a href="category.html">Earrings</a>
                        <div>
                            <ul>
                                <li><a href="category.html">test 11 (0)</a></li>
                                <li><a href="category.html">test 12 (0)</a></li>
                                <li><a href="category.html">test 15 (0)</a></li>
                                <li><a href="category.html">test 16 (0)</a></li>
                            </ul>
                            <ul>
                                <li><a href="category.html">test 17 (0)</a></li>
                                <li><a href="category.html">test 18 (0)</a></li>
                                <li><a href="category.html">test 19 (0)</a></li>
                                <li><a href="category.html">test 4 (0)</a></li>
                            </ul>                      			
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Main Navigation End-->
    </header>
	<!-- Header Part End-->
    
    <!--Middle Part Start-->  
	<section id="contentWrapper">
    	<div id="container" class="indexWrapper">
            <!--Social Icons Start--> 
            <div class="social">
                <ul>
                    <li><a class="ico-fb" onClick="window.open('http://www.facebook.com/');" title="Follow Your Store on Facebook"> &nbsp; </a> </li>
                    <li><a class="ico-twit" onClick="window.open('http://twitter.com/');" title="Follow Your Store on Twitter"> &nbsp; </a> </li>
                    <li><a class="ico-google" onClick="window.open('https://plus.google.com/');" title="Follow Your Store on Google+"> &nbsp; </a> </li>
                </ul>
            </div>
            <!--Social Icons End--> 
        
            <!--Flexslider Start--> 




            <!--Start Banner-->
            <div class="banner_box">
              <div class="slider-wrapper banner"> 
                <!--Place your banner images-->
                <div id="slider" class="banner_slider"> 
                    <a href="#"><img src="image/banner_1.jpg" alt="" /></a> 
                    <a href="#"><img src="image/banner_2.jpg" alt="" /></a> 
                    <a href="#"><img src="image/banner_3.jpg" alt="" /></a> 
                    <a href="#"><img src="image/banner_4.jpg" alt="" /></a> 
                </div>
              </div>
      
            </div>
            <!--End Banner--> 





            <!--Flexslider End--> 
        	
            <!--Featured Product Start-->
            <div class="box mb0">
                <div class="box-heading-1"><span>Featured</span></div>
                <div class="box-content-1">
                    <div class="box-product-1">
                        <div>
                            <div class="image">
                            	<a href="product.html"><img src="image/product/04-necklace-150x150.jpg" alt="Necklace" /></a>
                            </div>
                            <div class="proName">
                                <div class="name"><a href="product.html">Necklace</a></div>
                                <div class="price"> $589.50 </div>
                                <div class="cart"> <input type="button" value="Add to Cart" onClick="addToCart('43');" class="button" /> </div>
                            </div>
                        </div>
                        <div>
                            <div class="image"><a href="product.html"><img src="image/product/09-bracelet-150x150.jpg" alt="Bracelet" /></a></div>
                            <div class="proName">
                                <div class="name"><a href="product.html">Bracelet</a></div>
                                <div class="price"> $120.68 </div>
                                <div class="cart"> <input type="button" value="Add to Cart" onClick="addToCart('40');" class="button" /> </div>
                            </div>
                        </div>
                        <div>
                            <div class="image"><a href="product.html"><img src="image/product/02-mangalsutra-150x150.jpg" alt="Mangalsutra" /></a></div>
                            <div class="proName">
                                <div class="name"><a href="product.html">Mangalsutra</a></div>
                                <div class="price"> <span class="price-old">$119.50</span> <span class="price-new">$107.75</span> </div>
                                <div class="cart">
                                    <input type="button" value="Add to Cart" onClick="addToCart('42');" class="button" />
                                </div>
                        	</div>
                    	</div>
                        <div>
                            <div class="image"><a href="product.html"><img src="image/product/03-pendant-150x150.jpg" alt="Silver Rings" /></a></div>
                            <div class="proName">
                                <div class="name"><a href="product.html">Silver Rings</a></div>
                                <div class="price"> $236.99 </div>
                                <div class="cart">
                                    <input type="button" value="Add to Cart" onClick="addToCart('49');" class="button" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        	<!--Featured Product End-->
            
            <!--Add Banner Start-->
            <div id="banner0" class="banner">
                <div style="display:block;"><img src="image/addBanner-940x145.jpg" alt="Special Offers" title="Special Offers" /></div>
            </div>
            <!--Add Banner End-->
            
            <!--Latest Product Start-->   
            <div class="box">
                <div class="box-heading-1"><span>Latest</span></div>
                <div class="box-content-1">
                    <div class="box-product-1">
                        <div>
                            <div class="image"><a href="product.html"><img src="image/product/02-wedding-ring-150x150.jpg" alt="Silver Rings" /></a></div>
                            <div class="proName">
                                <div class="name"><a href="product.html">Silver Rings</a></div>
                                <div class="price"> $236.99 </div>
                                <div class="cart">
                                    <input type="button" value="Add to Cart" onClick="addToCart('49');" class="button" />
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="image"><a href="product.html"><img src="image/product/02-earrings-150x150.jpg" alt="Earrings" /></a></div>
                            <div class="proName">
                                <div class="name"><a href="product.html">Earrings</a></div>
                                <div class="price"> $119.50 </div>
                                <div class="cart">
                                    <input type="button" value="Add to Cart" onClick="addToCart('48');" class="button" />
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="image"><a href="product.html"><img src="image/product/02-bracelet-150x150.jpg" alt="Bracelet" /></a></div>
                            <div class="proName">
                                <div class="name"><a href="product.html">Bracelet</a></div>
                                <div class="price"> $119.50 </div>
                                <div class="cart">
                                    <input type="button" value="Add to Cart" onClick="addToCart('47');" class="button" />
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="image"><a href="product.html"><img src="image/product/04-motiset-150x150.jpg" alt="Motiset" /></a></div>
                            <div class="proName">
                            <div class="name"><a href="product.html">Motiset</a></div>
                            <div class="price"> $2,000.00 </div>
                            <div class="cart">
                                <input type="button" value="Add to Cart" onClick="addToCart('45');" class="button" />
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <!--Latest Product End-->
        	
            <!--Carouse Start--> 
            <div id="carousel0">
                <ul class="jcarousel-skin-opencart">
                    <li><a href="#"><img src="image/logo-80x80.jpg" alt="" title="" /></a></li>
                    <li><a href="#"><img src="image/logo-80x80.jpg" alt="" title="" /></a></li>
                    <li><a href="#"><img src="image/logo-80x80.jpg" alt="" title="" /></a></li>
                    <li><a href="#"><img src="image/logo-80x80.jpg" alt="" title="" /></a></li>
                    <li><a href="#"><img src="image/logo-80x80.jpg" alt="" title="" /></a></li>
                    <li><a href="#"><img src="image/logo-80x80.jpg" alt="" title="" /></a></li>
                </ul>
            </div>
            <!--Carouse End--> 
            
		</div>
  	</section>
  	<!--Middle Part End-->
    
    <!--Footer Part Start-->
	<footer id="footerWrapper" class="clear">
    	<!--About Store information Start-->  
    	<div id="customHome" class="container_12">
      		<!-- About Text -->
            <div id="about_us_footer">
        		<h2>Lorem Ipsum is simply </h2>
        		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,<br /><br />Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      		</div>
      		
            <!--  TWITTER Twites -->      		
            <div id="twitter-twit">
        		<h2>Recent Tweets</h2>
        		<div id="twitter_update_list">
          			<a class="twitter-timeline" href="https://twitter.com/tech_two/favorites" data-chrome="noheader nofooter noborders noscrollbar transparent" data-theme="light" data-tweet-limit="2" data-related="twitterapi,twitter" data-aria-polite="assertive" data-widget-id="362263358243741697">Favorite Tweets by tech_two</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        		</div>

      		</div>
      		
            <!-- contact Info -->
            <div id="contact_footer">
        		<h2>Contact Info</h2>
        		<ul>
         			<li> 
            			<!-- TELEPHONE -->
            			<ul id="tel" class="contact_column">
              				<li id="footer_telephone">(000) 354-543-5456</li>
            			</ul>
            
                        <!-- FAX  -->
                        <ul id="fax" class="contact_column">
                        	<li id="footer_fax">(000) 354-543-5457</li>
                        </ul>
            
                        <!-- EMAIL -->
                        <ul id="mail" class="contact_column">
                            <li id="footer_email">test@test.com</li>
                        </ul>
            
                        <!-- SKYPE -->
                        <ul id="skype" class="contact_column">
                            <li id="footer_skype">dummy text</li>
                        </ul>
          			</li>
        		</ul>
      		</div>
            
     		<!-- Facebook LikeBox -->
      		<div id="facebook_footer">
        		<h2>Facebook</h2>
        		<div id="facebook" >
					<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "../../../connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="likebox-frame">
<div class="fb-like-box" data-href="http://www.facebook.com/140818739265651" data-width="240" data-connections="9" data-height="200" data-show-faces="true" data-stream="false" data-header="false" data-border-color="#f9f9f9"></div>
</div>
					
				</div>
      		</div>
    	</div>  
        <!--About Store information End-->  
        
        <!--Custom Column Start-->    
        <div id="footer">
        	<div class="column">
            	<h3>Information</h3>
                <ul>
                    <li><a href="about-us.html">About Us</a></li>
                    <li><a href="#">Delivery Information</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                </ul>
          	</div>
          	<div class="column">
            	<h3>Customer Service</h3>
            	<ul>
              		<li><a href="contact-us.html">Contact Us</a></li>
              		<li><a href="#">Returns</a></li>
              		<li><a href="sitemap.html">Site Map</a></li>
            	</ul>
          	</div>
          	<div class="column">
            	<h3>Extras</h3>
            	<ul>
              		<li><a href="#">Brands</a></li>
                    <li><a href="#">Gift Vouchers</a></li>
                    <li><a href="#">Affiliates</a></li>
                    <li><a href="#">Specials</a></li>
            	</ul>
          	</div>
          	<div class="column">
            	<h3>My Account</h3>
            	<ul>
              		<li><a href="#">My Account</a></li>
              		<li><a href="#">Order History</a></li>
              		<li><a href="#">Wish List</a></li>
              		<li><a href="#">Newsletter</a></li>
            	</ul>
          	</div>
      	</div>
        <!--Custom Column End--> 
          
        <div class="powered-main">
        	<div id="powered"> Theme by <a href="#" target="_blank">Tech Two Design</a>
            	<div class="fr">Powered By <a href="http://www.opencart.com/" target="_blank">OpenCart</a> Your Store &copy; 2012</div>
            	<div id="back-top" class="back-to-top"><a class="backtotop" href="javascript:void(0)" title="Back to Top"></a></div>
          	</div>
        </div>
        
  	</footer>
    <!--Footer Part End-->
</div>




<!-- JS Part Start-->
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/jquery-1.6.1.min.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/menu.js"></script>
<script type="text/javascript" src="js/banner_pack.js"></script>
<script type="text/javascript" src="js/light_box.js"></script>
<script type="text/javascript" src="js/cloud-zoom.1.0.2.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>

<script type="text/javascript" src="js/jquery.mix.js"></script>







<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="js/html5.js"></script>
<script type="text/javascript" src="js/tabs.js"></script>
<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="js/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script type="text/javascript">
$(window).load(function() {
	$('.flexslider').flexslider();
});
</script>
<!-- JS Part End-->

</body>
</html>