@{
    
}

            <div class="box">
            	<div class="box-heading">Menu</div>
            	<div class="box-category">
            		<ul>
                        <li><a href="~/sistema/">Administração</a></li>
                    	<li><a href="~/sistema/usuarios">Usuários Administradores</a></li>
                    	<li><a href="~/sistema/produtos">Produtos</a></li>
                        <li><a href="~/sistema/produtos/destaque">Produtos em Destaque</a></li>
                        <li><a href="~/sistema/produtos">Promoções Cadastradas</a></li>
              			<li><a href="~/sistema/pedidos">Pedidos</a></li>
                    	<li><a href="#">Address Books</a></li>
                        <li><a href="#">Wish List</a></li>
                        <li><a href="#">Order History</a></li>
                        <li><a href="#">Downloads</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Transactions</a></li>
                        <li><a href="#">Newsletter</a></li>
                    	<li><a href="#">Logout</a></li>
                  	</ul>
            	</div>
            </div>